* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  width: 300px;
}

.container h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.container input {
  padding: 2px;
  width: 60%;
}

.container button {
  padding: 2px 5px;
  width: 35%;
}

.container ul {
  margin-top: 20px;
  list-style: none;
}

.container ul li {
  background-color: #eee;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px;
  padding-left: 10px;
  height: 50px;
  /* width: 175px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container ul li button {
  /* margin-left: 45%; */
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
}
